<div class="container">
  <main class="form-signin">

    <h2 class="text-c">Dashboard Banner </h2>
    <hr>

    <h1 class="text-success text-capitalize text-center">
      <%= respond %>
    </h1>
    <div class="border p-4 mb-3">
      <h1 class="h3 mb-3 fw-normal text-right"> Announcement</h1>

      <h4 class="text-center ">First Slide</h4> <br>
      <form method="POST" action="/staff/first/announce">
        <div class="form-floating">
          <label for="floatingInput">Title</label>
          <%= announce.title %>
            <input type="text" required class="form-control mb-3" id="floatingInput" placeholder="A Simple Title"
              name="title">
        </div>
        <div class="form-floating">
          <label for="floatingInput">Message</label>
          <input type="text" required class="form-control mb-3" id="floatingInput"
            placeholder="A short information to pass across" name="message">
        </div>

        <button type="submit" class="btn btn-primary w-100 m-b-10 m-l-5"
          id="toastr-success-top-full-width">Announce</button>
        <br>
      </form>
    </div> <br> <br>

    <div class="border p-4 mt-2" id="sec"> <br>
      <h3 class="text-center ">Second Slide</h3>
      <form method="POST" action="/staff/next/announce">
        <div class="form-floating">
          <label for="floatingInput">Title</label>
          <%= announce.title2 %>
            <input type="text" required class="form-control mb-3" id="floatingInput" placeholder="A Simple Title"
              name="title2">
        </div>
        <div class="form-floating">
          <label for="floatingInput">Message</label>
          <input type="text" class="form-control mb-3" required id="floatingInput"
            placeholder="A short information to pass across" name="message2">
        </div>
        <button class="w-100 btn btn-lg btn-primary" type="submit">Announce</button>
        <br>
      </form> <br>
    </div>

    <br><br>
  </main>
</div>