<h3 class=" text-center">S E T T I N G S</h3>
<div class="row"> 
    <div class="col-md-6"> 
        <div class="card">
            <div class="card-title">
                <h4>Banner Message</h4>

            </div>
            <div class="card-toggle-body">
                <p class="text-muted m-b-15">Update different information and on the banner section of the homepage for visitors and staffs to see</p>
                <div class="button-list">
                    <div class="btn-group">
                        <a href="/staff/banner" class="btn btn-primary">First Slide</a>
                        <a href="/staff/banner#sec" class="btn btn-primary ml-3">Second Slide</a>
                        
                    </div>
                </div>
            </div>
        </div> 
        <div class="card">
            <div class="card-title">
                <h4>Staff Announcement</h4>

            </div>
            <div class="card-toggle-body">
                <p class="text-muted m-b-15">Update different information and on the banner section of your dashboard for staffs to see when they login</p>
                <div class="button-list">
                    <div class="btn-group">
                        <a href="/staff/announce" class="btn btn-primary">First Slide</a>
                        <a href="/staff/announce#sec" class="btn btn-primary ml-3">Second Slide</a>
                        
                    </div>
                </div>
            </div>
        </div> 
        
        <!-- /# card -->
    </div>
    <!-- /# column -->
     <div class="col-md-6">
        <div class="card">
            <div class="card-title">
                <h4>Change Password</h4>

            </div>
            <div class="card-toggle-body">
                <p class="text-muted m-b-15">It is importeant to ensure the safety of your password. Avoid sharing your password with others</p>
                <div class="button-list">
                    <div class="btn-group">
                        <a href="/staff/passW" class="btn btn-primary">Password Change</a>

                    </div>
                </div>
            </div>
            
        </div>
        <div class="card">
            <div class="card-title">
                <h4>Change Password</h4>

            </div>
            <div class="card-toggle-body">
                <p class="text-muted m-b-15">It is importeant to ensure the safety of your password. Avoid sharing your password with others</p>
                <div class="button-list">
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary">Apple</button>
                        <button type="button" class="btn btn-primary">Samsung</button>
                        <button type="button" class="btn btn-primary">Sony</button>
                    </div>
                </div>
            </div>
        </div>
     </div>
</div>